@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fondo-boton-seleccionado: #7ca9e9;

  /* MODO CLARO */
  /* --fondo-claro: #f0f2f5; */
  --fondo-claro: rgb(249 250 251 / 1);
  --fondo-selected-claro: hsla(0, 0%, 85%, 0.609);


  /* MODO OSCURO */
  --fondo-oscuro: #0d1117;
  --fondo-paper-oscuro: #161b22;
  --fondo-selected-oscuro: hsla(208, 100%, 90%, 0.152);


  --primary-light: #f5fbff;
  --primary-200: #42aaff;
  --primary-main: #2196F3;
  --primary-dark: #1976c3;
  --primary-800: #4a54e1;

  --secondary-light: #EDE7F6;
  --secondary-200: #B39DDB;
  --secondary-main: #673AB7;
  --secondary-dark: #5E35B1;
  --secondary-800: #2f33ff;

  --color-menu-primary: #16181b;
  --color-menu-secondary: #F8FAFC;

  --success-light: #B9F6CA;
  --success-200: #69F0AE;
  --success-main: #00E676;
  --success-dark: #00C853;

  --orange-light: #FBE9E7;
  --orange-main: #FFAB91;
  --orange-dark: #D84315;

  --error-light: #EF9A9A;
  --error-main: #F44336;
  --error-dark: #C62828;

  --warning-light: #FFF8E1;
  --warning-main: #FFE57F;
  --warning-dark: #FFC107;

  --grey-50: #f8fafc95;
  --grey-100: #EEF2F6;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-500: #697586;
  --grey-600: #4B5565;
  --grey-700: #364152;
  --grey-900: #202427;
  --grey-custom: #1f202130;

  --gradient-blue-button: linear-gradient(to bottom, #5f6bff, #2f33ff);
  --gradient-blue-button-hover: linear-gradient(to bottom, #4a54e1, #1f21d1);

  --pure-white: #FFFFFF;

  --box-shadow-input: 0px 2px 8px rgba(0, 0, 0, 0.055);
  --box-shadow-alert: 0px 2px 8px rgba(0, 0, 0, 0.055);
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.055);

  --min-height-page: calc(100vh - 130px);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
}